<div id="coupon" data-hook="applying-coupons">
    <% if Spree::AdvancedCart::Config[:enable_coupon_applying] %>
    <div id="apply_coupon">
        <h3><%= t(:apply_coupon) %></h3>
        <label><%= t(:coupon_code) %></label>
        <%= order_form.text_field :coupon_code, :size => 30, :placeholder => t('enter_coupon_message')  %>
        <%= order_form.submit t("apply") %>
    </div>
    <% if @order.adjustments.eligible.count > 0 %>
        <div id="applied_coupon">
            <h3><%= t(:applied_coupon) %></h3>
            <table id="order-charges">
                <% @order.adjustments.eligible.each do |adjustment| %>
                  <tr>
                    <td width="60%"><label><%= adjustment.label %></label></td>
                    <td width="40%"><span class="price"><%= number_to_currency adjustment.amount %></span></td>
                  </tr>
                <% end %>
            </table>
        </div>
    <% end %>
    <% end %>
</div>
