<div id="subtotal-main" data-hook="subtotal-main">
    <div id="subtotal_left">
    </div>
    <div id="subtotal_right">
      <table id="order-charges">
          <tr>
            <td width="60%"><h3><%= t(:subtotal) %></h3></td>
            <td width="40%"><h3><%= order_subtotal(@order) %></h3></td>
          </tr>
      </table>
    </div>
</div>
<div id="update_checkout" data-hook="cart_buttons">
  <div id="update_checkout_left">
          <%= button_tag :class => 'primary', :id => 'update-button' do %>
            <%= t(:update) %>
          <% end %>
        <%= form_tag empty_cart_path, :method => :put do %>
          <%= submit_tag t(:empty_cart), :class => 'button' %>
          <%= link_to t(:continue_shopping), products_path, :class => 'continue button' %>
        <% end %>
    </div>
    <div id="update_checkout_right">
      <%= link_to t(:checkout), checkout_path, :class => 'button checkout primary', :id => 'checkout-link' %>
    </div>
</div>





